<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>   
    <title>Contact Us</title>
    <meta name="description" content="Contact us for inquiries, quotes, or any questions you may have. We are here to help!">
    <style>
            .hero{
                background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0),#D7DAE5, #D7DAE5), url(/images/imagery/DSC_0073.JPG);
    }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        label {
            margin: 5px 0;
        }
        input[type="text"],
        input[type="email"],
        textarea {
            width: 80%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        .error-message {
            color: red;
            text-align: center;
        }
        .success-message {
            color: green;
            text-align: center;
        }
    </style>
    <script>
        // Function to load heart states from localStorage and update the hidden input field
        function loadToggledHeartIds() { 
            const trueValues = {};
            const data = JSON.parse(localStorage.getItem('heartStates')) || {};
            for (const key in data) {
                if (data[key] === true) {
                trueValues[key] = true;
                }
            }   

          // Set the hidden input field with the toggled heart IDs (comma-separated)
          document.getElementById('toggledHeartIds').value = Object.keys(trueValues).join(',');
        }
      
        // Call the function when the page loads
        setTimeout(loadToggledHeartIds, 5000);
      </script>
      
</head>
<body class="hero">
    <%- include('partials/header') %>
    <div class="highlight">
        <h1>Contact Us</h1>
    </div>
    <div class="content">
        <div style="margin: auto;max-width: 1500px;text-align: center;">
            <h2>Contact Form</h2>
            <p>Please fill out the form below to contact us.</p>

                    
        <form id="contactForm" action="/contact" method="POST">
            
            <div class="row">
            <div class="col-6">
                <div>
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name" required>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required>
                </div>
            </div>
            <div>
                <div class="col-12">
                    <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="4" required></textarea>
                </div>
            </div>
        </div>

            <input type="hidden" id="toggledHeartIds" name="toggledHeartIds">
            <input type="hidden" name="honeypot" style="display:none;">
            <input type="hidden" id="recaptchaResponse" name="g-recaptcha-response">
            <input type="submit" value="Submit">
            <div id="formMessage" class="error-message" style="display: none;"></div>
        </form>
      </div>
        <script src="https://www.google.com/recaptcha/api.js?render=6LckEeUqAAAAAEkt7oGsaqGEwNRl43f2l2yNm1R3"></script>
        <script>
        document.getElementById('contactForm').addEventListener('submit', function(event) {
            event.preventDefault();

            // Get the reCAPTCHA token and submit the form
            grecaptcha.ready(function() {
            grecaptcha.execute('6LckEeUqAAAAAEkt7oGsaqGEwNRl43f2l2yNm1R3', { action: 'submit' }).then(function(token) {
                document.getElementById('recaptchaResponse').value = token;
                document.getElementById('contactForm').submit();
            });
            });
        });
        </script>
    </div>
    <%- include('partials/footer') %>
</body>
</html>