<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>   
  <title>Finishes</title>
  <meta name="description" content="Explore our range of finishes, including stains and paints, to customize your cabinets.">
  <style>
    .hero{
      background-image: url(/images/imagery/DSC_0081.JPG);
    }
  </style>
</head>
<body class="hero">
  <%- include('partials/header') %>
  <div class="highlight">
    <h1>Finish</h1>
  </div>
    <div class="content">
      <p>Finishes</p>
    </div>
  <%- include('partials/footer') %>
</body>
</html>
