<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pundsack Cabinets</title>
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    .hero{
      background-image: url(/images/imagery/DSC_0082.JPG);
    }
    .content{
      margin-top: 15%;
    }

  </style>
</head>

<body>
  <div class="hero">
    <%- include('partials/header') %>
  <main>      
    <div class="highlight">
        <h1>Home</h1>
      </div>
    <div class="content">

    </div>
  </main>
  <%- include('partials/footer') %>
</div>
</body>

</html>
