<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pundsack Cabinets</title>
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    .hero{
      background-image: url(/images/imagery/DSC_0082.JPG);
    }
    .content{
      margin-top: 15%;
    }
    main{
      height: 100vh;
    }

  </style>
</head>
<body class="hero">

    <%- include('partials/header') %>    
    
    <div class="highlight">
        <h1>Home</h1>
      </div>
  <main>      
    <aside>
      <div class="cardContainer">
      <a href="/about"><div class="card">
        <h2>About Us</h2>
        <p>We are a family business with a passion for creating custom cabinetry.</p>
      </div></a>
      <a href="/gallery"><div class="card">
        <h2>Gallery</h2>
        <p>Explore our collection of unique, custom-designed cabinets.</p>
      </div>
    </a>
    <a href="/contact">
      <div class="card">
        <h2>Contact Us</h2>
        <p>Have questions? We’d love to hear from you.</p>
      </div>
    </a>
      </div>
  </aside>
  </main>
  
  <%- include('partials/footer') %>
</div>
</body>
</html>
