:root {
    --dark: #222222;
    --yellow: #D7B418;
    --red: #9D2719;
    --text-color: #222222;
    --background-color: #EDEDED;
    --white: #ffffff;
  }
  
  body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
  }

  content {
    margin:auto;
    width: 80%;
    height: 100vh;
    background-color: var(--white);
  }

  nav {
    width: 75%;
    margin: 0 0 0 auto;
    background-color: var(--dark);
    padding: 20px;
  }
  
  