  @font-face {
    font-family: 'Futura';
    src: url('../fonts/futura\ light\ bt.ttf') format('truetype'),
        url('../fonts/futura\ medium\ bt.ttf') format('truetype'),
        url('../fonts/Futura\ XBlk\ BT.ttf') format('truetype');
  }

  :root {
      --dark: #222222;
      --yellow: #D7B418;
      --red: #9D2719;
      --text-color: #222222;
      --background-color: #EDEDED;
      --white: #ffffff;
    }
    
    body {
      width: 100%;
      color: var(--text-color);
      background-color: var(--background-color);
      font-family: Futura, sans-serif;
      margin: 0;
      overflow-x: hidden;
    }

    h1 {
      font-family: Futura XBlk BT, sans-serif;
      font-size: 2.5rem;
      color: var(--dark);
      background-color: var(--background-color);
      padding: 0.68em;
      margin: 0;
    }

    p {
      font-family: Futura Medium BT, sans-serif;
      font-size: 1.2rem;
      color: var(--dark);
    }

    .content {
      margin:auto;
      padding-top:10px;
      width: 100%;
      height: auto;
      min-height: 70vh;
      background-color: var(--white);
    }

    .nav {
      background-color: var(--dark);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    
    .nav > p{
      padding: 10px;
      text-align: center;
      margin: 15px;
      background-color: var(--dark);
    }

    .nav > p > a{
      color:#ffffff;
      text-decoration: none;
    }

    .gallery {
      display: grid;
      column-gap: 3%; /* Adjust gap as needed */
      row-gap: 15px;
      padding: 0 25px 20px 25px;
  }
  
  /* Mobile (Example: 3 Columns) */
  @media (max-width: 767px) {  /* Adjust breakpoint as needed */
      .gallery {
          grid-template-columns: repeat(3, 1fr); /* 3 columns on mobile */
      }
  }
  
  /* Desktop (Example: 5 Columns) */
  @media (min-width: 768px) { /* Adjust breakpoint as needed */
      .gallery {
          grid-template-columns: repeat(4, 1fr); /* 5 columns on desktop */
      }
  }
  
  .gallery-item {
      overflow: hidden; /* Prevents image overflow */
  }
  
  .portrait {
      grid-area: span 2 / span 1; /* Portrait spans 2 rows, 1 column */
  }
  
  .landscape {
    display: contents;
      grid-column: span 2; /* Landscape spans 2 columns */
  }
  
  .gallery-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* or contain, depending on preference */
      display: block;
      border-radius: 3%;
      opacity: 95%;
      transition: all 0.5s ease-out;
  }

  .gallery-item img:hover {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or contain, depending on preference */
    display: block;
    border-radius: 5%;
    margin: -10px -10px 0 0;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.7); /* Horizontal, Vertical, Blur, Color */
    opacity: 100%;
}

footer {
  background-color: var(--background-color);
  width: 100%;
  position: relative;
  padding: 40px;
}


main {
  min-height: 100vh;
}